@using FactsGreet.Common
@model FactsGreet.Web.ViewModels.Edits.HistoryViewModel
@{
    ViewBag.Title = $"History of: {Model.ArticleTitle}";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>History for: @Model.ArticleTitle</h2>
        </div>
    </div>
    <div class="row">
        <div class="list-group col">
            <div class="list-group-item-dark font-weight-bold">
                <div class="container">
                    <div class="row">
                        <div class="col text-primary">
                            [Created On]
                        </div>
                        <div class="col">EditorUserName</div>
                        <div class="col">Comment</div>
                    </div>
                </div>
            </div>
            @foreach (var edit in Model.Edits)
            {
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col text-primary" style="transform: rotate(0);">
                                [<span class="utc-to-local">@edit.CreatedOn.ToString("R")</span>]
                                <a asp-controller="Edits"
                                   asp-action="View"
                                   asp-route-id="@edit.Id"
                                   class="stretched-link">
                                </a>
                            </div>
                            <div class="col" style="transform: rotate(0);">
                                <a asp-route="profile_index"
                                   asp-all-route-data="new { email = edit.EditorUserName }.ToDictionary()"
                                   class="stretched-link text-dark">
                                    @edit.EditorUserName
                                </a>
                            </div>
                            <div class="col" style="transform: rotate(0);">
                                @edit.Comment
                                <a asp-controller="Edits"
                                   asp-action="View"
                                   asp-route-id="@edit.Id"
                                   class="stretched-link">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </div>
    </div>
    <div class="row">
        <partial name="_CompactPaginationPartial" model="Model.PaginationViewModel"/>
    </div>
</div>
