@using DiffMatchPatchSharp
@using Westwind.AspNetCore.Markdown
@model FactsGreet.Web.ViewModels.Edits.EditViewModel
@addTagHelper *, Westwind.AspNetCore.Markdown
@inject HtmlTextDiffChanges HtmlTextDiffChanges
@{
    ViewBag.Title = Model;
    var (target,against) = HtmlTextDiffChanges.CompareHtml(
        $"<div>{Markdown.Parse(Model.TargetArticleContent, sanitizeHtml: true)}</div>",
        $"<div>{Markdown.Parse(Model.AgainstArticleContent, sanitizeHtml: true)}</div>");
}

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h1>Changes</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="target-select">Target</label>
                <select class="form-control" id="target-select">
                    <option value="loadOlder" class="font-weight-bold">Load older</option>
                    <option value="loadNewer" class="font-weight-bold">Load newer</option>
                </select>
            </div>
            <div id="target" class="syncscroll rounded border" name="content">
                @Html.Raw(target)
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="against-select">Against</label>
                <select class="form-control" id="against-select">
                    <option value="loadOlder" class="font-weight-bold">Load older</option>
                    <option value="loadNewer" class="font-weight-bold">Load newer</option>
                </select>
            </div>
            <div id="against" class="syncscroll rounded border" name="content">
                @Html.Raw(against)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <h1>Preview of <span class="utc-to-local">@Model.TargetEdit.CreatedOn.ToString("R")</span></h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h2>@Model.ArticleTitle</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <markdown normalize-whitespace="false" markdown="@Model.TargetArticleContent"/>
        </div>
    </div>
</div>

@section StyleLinks
{
    <link href="~/css/edits/view.css" rel="stylesheet" asp-append-version="true">
}

@section Scripts
{
    <script src="~/lib/sync-scroll/syncscroll.min.js"></script>
    <script src="~/js/edits/view.js"></script>
}
