@using FactsGreet.Web.Controllers
@model FactsGreet.Web.ViewModels.Edits.EditViewModel
@addTagHelper *, Westwind.AspNetCore.Markdown
@{
    ViewBag.Title = Model.ArticleTitle;
}

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h1>Changes</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="target-select">Target</label>
                <div class="input-group">
                    <select class="form-control" id="target-select">
                        <option value="<" class="font-weight-bold">Load older</option>
                        <option selected value="@Model.TargetEdit.Id">
                            @Model.TargetEdit.CreatedOn.ToString("R") |
                            @Model.TargetEdit.EditorUserName |
                            @Model.TargetEdit.Comment
                        </option>
                        <option value=">" class="font-weight-bold">Load newer</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary input-group-text go-btn">Go</button>
                    </div>
                </div>
            </div>
            <textarea id="target-textarea" hidden>@Model.TargetArticleContent</textarea>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="against-select">Against</label>
                <div class="input-group">
                    <select class="form-control" id="against-select">
                        <option value="<" class="font-weight-bold">Load older</option>
                        <option selected value="@Model.AgainstEdit.Id">
                            @Model.AgainstEdit.CreatedOn.ToString("R") |
                            @Model.AgainstEdit.EditorUserName |
                            @Model.AgainstEdit.Comment
                        </option>
                        <option value=">" class="font-weight-bold">Load newer</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary input-group-text go-btn">Go</button>
                    </div>
                </div>
            </div>
            <textarea id="against-textarea" hidden>@Model.AgainstArticleContent</textarea>
        </div>
    </div>
    <div id="mergely"></div>
    <div class="row">
        <div class="col">
            <hr>
            <h1>Preview of <span class="utc-to-local">@Model.TargetEdit.CreatedOn.ToString("s")</span></h1>
            <h6>@Model.TargetEdit.Comment</h6>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h2>@Model.ArticleTitle</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <markdown normalize-whitespace="false" markdown="@Model.TargetArticleContent"/>
        </div>
    </div>
</div>


@section StyleLinks
{
    <link href="~/css/edits/view.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/mergely/lib/mergely.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.css"/>
}

@section Scripts
{
    <script>
        window.selectOptionsActionName = '@nameof(EditsController.GetEditsInfoList)'
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/search/searchcursor.min.js"></script>
    <script src="~/lib/mergely/lib/mergely.js"></script>

    <script src="~/js/edits/view.js" asp-append-version="true"></script>
}
