@using FactsGreet.Web.Controllers
@using FactsGreet.Web.Infrastructure
@using FactsGreet.Common
@model FactsGreet.Web.ViewModels.Edits.EditViewModel
@addTagHelper *, Westwind.AspNetCore.Markdown
@{
    ViewBag.Title = Model.ArticleTitle;
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                <a asp-route="@(Helpers.GetRouteNames<ArticlesController>(nameof(ArticlesController.GetByTitle)).FirstOrDefault())"
                   asp-all-route-data="new { title = Model.ArticleTitle }.ToDictionary()">
                    @Model.ArticleTitle
                </a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <h2>
                Changes
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="target-select">Target</label>
                <div class="input-group">
                    <select class="form-control" id="target-select">
                        <option value="<" class="font-weight-bold">Load older</option>
                        <option selected value="@Model.TargetEdit.Id">
                            @Model.TargetEdit.CreatedOn.ToString("R") |
                            @Model.TargetEdit.EditorUserName |
                            @Model.TargetEdit.Comment
                        </option>
                        <option value=">" class="font-weight-bold">Load newer</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary input-group-text go-btn">Go</button>
                    </div>
                </div>
            </div>
            <textarea id="target-textarea" hidden>@Model.TargetArticleContent</textarea>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="against-select">Against</label>
                <div class="input-group">
                    <select class="form-control" id="against-select">
                        <option value="<" class="font-weight-bold">Load older</option>
                        <option selected value="@Model.AgainstEdit.Id">
                            @Model.AgainstEdit.CreatedOn.ToString("R") |
                            @Model.AgainstEdit.EditorUserName |
                            @Model.AgainstEdit.Comment
                        </option>
                        <option value=">" class="font-weight-bold">Load newer</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary input-group-text go-btn">Go</button>
                    </div>
                </div>
            </div>
            <textarea id="against-textarea" hidden>@Model.AgainstArticleContent</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div id="diffoutput"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <h2>Preview of <span class="utc-to-local">@Model.TargetEdit.CreatedOn.ToString("s")</span></h2>
            <h6>@Model.TargetEdit.Comment</h6>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h2>@Model.ArticleTitle</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <markdown normalize-whitespace="false" markdown="@Model.TargetArticleContent"/>
        </div>
    </div>
</div>


@section StyleLinks
{
    <link href="~/css/edits/view.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/js/jsdifflib/diffview.css">
}

@section Scripts
{
    <script>
        window.selectOptionsActionName = '@nameof(EditsController.GetEditsInfoList)'
    </script>

    <script src="~/js/jsdifflib/diffview.js"></script>
    <script src="~/js/jsdifflib/difflib.js"></script>
    <script src="~/js/edits/view.js" asp-append-version="true"></script>
}
