@using FactsGreet.Common
@model FactsGreet.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    ViewBag.Title = "Admin dashboard";
}

<h1>@ViewBag.Title</h1>
<h3 class="my-3">Jobs: @Model.JobsCount</h3>

<div id="cards">
    <div class="card" style="width: 300px;">
        <div class="card-header">
            You have @Model.ArticleDeletionRequestsCount deletion
            @(Model.ArticleDeletionRequestsCount == 1 ? "request" : "requests")
        </div>
        <div class="card-body">
            <h5 class="card-title">Article Deletion Requests</h5>
            <p class="card-text">Review articles that need removal.</p>
            <a asp-controller="Dashboard"
               asp-action="ArticleDeletionRequests"
               class="btn btn-primary">
                Review now
            </a>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <div class="card-header">
            Top 10 users deserve a special badge
        </div>
        <div class="card-body">
            <h5 class="card-title">Active Users</h5>
            <p class="card-text">Keep active users motivated by giving them a badge to distinct them from regular users.</p>
            <a asp-controller="Dashboard"
               asp-action="MostActiveUsers"
               class="btn btn-primary">
                Give some badges
            </a>
        </div>
    </div>
    <div class="card" style="width: 300px;">
        <div class="card-header">
            @Model.AdminRequestsCount
            @(Model.AdminRequestsCount == 1 ? "user" : "users")
            want to become @(Model.AdminRequestsCount == 1 ? "admin" : "admins")
        </div>
        <div class="card-body">
            <h5 class="card-title">Admin Requests</h5>
            <p class="card-text">
                Users with badges at some want to become part of this community at a higher level.
                Honnor them by giving the most honorable title
                <span class="badge badge-info text-white p-1 m-0">Admin</span>
            </p>
            <a asp-controller="Dashboard"
               asp-action="AdminRequests"
               class="btn btn-primary">
                Make new admins
            </a>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/magic-grid/dist/magic-grid.min.js"></script>
    <script src="~/js/administration/dashboard/index.js" asp-append-version="true"></script>
}
