@using Markdig
@using FactsGreet.Web.Controllers
@using FactsGreet.Common
@using FactsGreet.Web.Infrastructure
@model FactsGreet.Web.ViewModels.Articles.CompactArticleViewModel
@{
    const int categoriesDisplayCount = 3;

}

<div class="card">
    <div class="row no-gutters" style="transform: rotate(0)">
        <div class="col-auto">
            <img class="card-img-top" src="@Model.ThumbnailLink" style="width: 200px; height: 200px" alt="">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">
                    @if (string.IsNullOrWhiteSpace(Model.Description))
                    {
                        @Html.Raw(Markdown.ToPlainText(Model.ShortContent))
                    }
                    else
                    {
                        @Model.Description
                    }
                </p>
            </div>
        </div>
        
        <a asp-route="@(Helpers.GetRouteNames<ArticlesController>(nameof(ArticlesController.GetByTitle)).FirstOrDefault())" 
           asp-all-route-data="new { title = Model.Title }.ToDictionary()" 
           class="stretched-link"></a>
    </div>

    <div class="card-footer w-100 text-muted">
        <div class="row">
            <div class="col-auto">
                @Model.StarsCount @(Model.StarsCount switch {
                                      1 => "person",
                                      _ => "people"
                                      }) starred this.
            </div>
            <div class="col"></div>
            <div class="col-auto">
                <small class="text-muted">Categories: </small>
                @foreach (var category in Model.Categories.Take(categoriesDisplayCount))
                {
                    <a asp-area=""
                       asp-controller="Articles"
                       asp-action="Search"
                       asp-route-slug="@category"
                       class="btn btn-primary">
                        @category
                    </a>                }
                @if (Model.Categories.Count > categoriesDisplayCount)
                {
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var category in Model.Categories.Skip(categoriesDisplayCount))
                            {
                                <a asp-area=""
                                   asp-controller="Articles"
                                   asp-action="Search"
                                   asp-route-slug="@category"
                                   class="btn btn-primary">
                                    @category
                                </a>                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
