@using Markdig
@model FactsGreet.Web.ViewModels.Articles.CompactArticleViewModel
@{
    const int categoriesDisplayCount = 3;

}

<div class="card">
    <div class="row no-gutters" style="transform: rotate(0)">
        <div class="col-auto">
            <img class="card-img-top" src="@Model.ThumbnailLink" style="width: 200px; height: 200px" alt="">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">
                     @if (string.IsNullOrWhiteSpace(Model.Description))
                     {
                         @Html.Raw(Markdown.ToPlainText(Model.ShortContent))
                     }
                     else
                     {
                        @Model.Description
                    }
                </p>
            </div>
        </div>
        <a href="/Articles/@Model.Title.Replace(" ", "_")" class="stretched-link"></a>
    </div>

    <div class="card-footer w-100 text-muted">
        <div class="row">
            <div class="col-auto">
                @Model.StarsCount @(Model.StarsCount switch {
                                      1 => "person",
                                      _ => "people"
                                      }) starred this.
            </div>
            <div class="col"></div>
            <div class="col-auto">
                <small class="text-muted">Categories: </small>
                @foreach (var category in Model.Categories.Take(categoriesDisplayCount))
                {
                    <a class="btn btn-primary">@category</a>
                }
                @(Model.Categories.Count > categoriesDisplayCount ? "..." : "")
            </div>
        </div>
    </div>
</div>